.heading{
	color: #2ec4b6;
	background: #ffe5d9;
}
.titlename{
	text-align: center;
	padding: 20px;
}

.titlename u{
	background: black;
	color: white;
	font-size: 50px;
}
table, th, td {
  border: 1px solid black;
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
  margin-top: 30px;
}
.about {
	font-size: 20px;
	border: 3px double yellow;
	background: #00FFC6;
	color: #A97155;
}
:hover.about {
	font-size: 20px;
	border: 3px solid #FF06B7;
	background: black;
	color: white;
}
